<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/bootstrap-datetimepicker.min.css">
    <script src="../static/js/bootstrap-datetimepicker.min.js"></script>
    <title>会议室预定</title>
    <style>
        .panel-heading {
            height: 60px;
        }

        .title {
            color: white;
            font-size: 25px;
            display: block;
            line-height: 25px;
            align-content: center;

        }

        .tb {
            margin-top: 10px;
        }

        tbody tr{
            height: 60px;
        }
        #dt{
            display: none;
        }
        .del_rm{
            background-color: yellow;
        }

    </style>

</head>
<body>
<div style="font-size: 20px;margin-left: 100px">
    <strong>欢迎用户：{{user}}</strong>
    <a href="/logout">注销</a>
</div>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="title">会议室预定</div>
        </div>
        <div class="panel-body">
            <div>
                <h2>当前选择日期：{{dt}}</h2>
            </div>
            <!--日期选择器开始-->
            <form class="form-inline" method="post" action="">
                <input type="text" value={{dt}} name="datetime" id="dt">
                <div class="form-group">
                    <div class="input-group input-append date form_datetime">
                            <input class="form-control date" id="date1" size="14" type="text" value disabled readonly name="date">
                            <span class="add-on"><i class="icon-th"></i></span>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary select">查询</button>
            </form>
            <!--日期选择器结束-->



            <table class="tb table table-bordered">
                    <thead>
                    <tr>

                        <th>会议室</th>
                           {% for i in time_list %}
                            <th>{{i[1]}}</th>
                            {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    <!--//循环房间列表-->
                         {% for item in room_list %}

                        <tr>
                           <!--// 获取各房间的元祖（id,name)-->
                            <td>{{item.1}}</td>
                            <!--//遍历各时间段-->
                            {% for t in time_list %}
                            <td>
                                {% if item.0 in room_dict.keys() %}
                                    {% if t.0 in  room_dict[item.0]['time'].keys()%}
                                    <button class="del_rm" xrid={{item.0}} xtid={{t.0}}>{{ room_dict[item.0]['time'][t.0] }}订</button>
                                    {% else %}
                                    <button class="ding" rid={{item.0}} tid={{t.0}}>可预订</button>
                                    {% endif%}

                                {% else%}
                                <button class="ding" rid={{item.0}} tid={{t.0}}>可预订</button>
                                {% endif %}
                            </td>
                            {% endfor %}
                        </tr>
                           {% endfor %}

                    </tbody>
                </table>
        </div>
    </div>
</div>

</body>
<script type="text/javascript">
    //日期插件
    $(".form_datetime").datetimepicker({
        format: 'yyyy/mm/dd',//显示格式
        todayHighlight: 1,//今天高亮
        minView: "month",//设置只显示到月份
//        startView: 2, // 日期时间选择器打开之后首先显示的视图
        startDate:new Date(),
        forceParse: 0,
        showMeridian: 1,
        autoclose: 1//选择后自动关闭
    });
    $('.select').on('click',function () {
        alert='666';
        var date = $('#date1').val();
        if (date){
            $('#dt').val(date)
        }
        else {
             $('#dt').val(new Date().toLocaleDateString())
        }

    });
//    window.onload = function(){
//　 $('#dt').val(new Date().toLocaleDateString())
//　　
//}
    $(document.body).on('click','.ding',function () {
        alert($('#dt').val());
        var that=this;
        $.ajax({
            url:'/add',
            type:'POST',
            data:{
                rid:$(this).attr('rid'),
                tid:$(this).attr('tid'),
                date: $('#dt').val()
            },
            success:function (data) {
                var data=JSON.parse(data);
                if (data.stude==1){
                    alert('预定成功');

                    $(that).parent().html('<button class="del_rm" xrid='+data.rid+ ' xtid='+data.tid+'>'+data.user+'订</button>')
                }
                else {
                    alert('预定失败')
                }
            }
        });
        return false;
    });

    //取消订阅
        $(document.body).on('click','.del_rm',function () {
        alert('确定要取消吗？');
        var that=this;
        $.ajax({
            url:'/del_room',
            type:'POST',
            data:{
                xrid:$(this).attr('xrid'),
                xtid:$(this).attr('xtid'),
                date: $('#dt').val()
            },
            success:function (data) {
                var data=JSON.parse(data);
                if (data.stude==1){
                    alert('取消成功');
                    $(that).parent().html('<button class="ding" rid='+data.xrid+' tid='+data.xtid+'>可预订</button>')
                }
                else if (data.stude==666){
                    alert('取消失败，数据库操作错误')
                }
                else if(data.stude==3){
                    alert('抱歉，您不能修改他人的房间预定')
                }
            }
        });
            return false;
    });
</script>
</html>