<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>login</title>
    <link rel="stylesheet" href="static/css/bootstrap-datetimepicker.min.css">
</head>
<body>

<form action="/login" method="POST">

    {{form.user}} {{form.user.label}} {{form.user.errors[0]}}
    <h1>666666666666666666666666666666666666</h1>
    {{form.pwd}}{{form.pwd.label}}{{form.pwd.errors[0]}}
    <button type="submit">提交</button>
</form>







<script src="static/js/jquery-3.3.1.min.js"></script>
<script src="static/js/bootstrap-datetimepicker.min.js"></script>
</body>
</html>